* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: hsl(270, 20%, 96%);
}
h1 {
    text-align: center;
}
.cellContainer {
    border-radius: 20px;
    background-color:  hsl(270, 20%, 96%);
    display: flex;
    flex-direction: column;   
}
header {
    position: relative;
    padding: 20px;
   /* background-color: hsl(264, 100%, 61%);
   background: linear-gradient(to right, hsl(264, 100%, 61%) 50%, transparent 50%);*/
}
header::before {
    position: absolute;
    width: 50%;
    height: 70%;
    background-color: hsl(264, 100%, 61%);
    content: "";
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 0 0 192px 0px;
}
.cellphone {
    width: 290px;
    background: hsl(0, 0%, 100%);
    margin: 52px auto;
    border-radius: 30px;
    padding: 30px 15px;
}
figure {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
figure img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
}
figcaption {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.intro {
    position: relative;
    background: linear-gradient(to right, hsl(264, 100%, 61%),  hsl(293, 100%, 63%));   
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 5px 5px;
    padding: 20px;
    gap: 10px;
}
.intro::before {
    width: 50%;
    content: "";
    background-color: white;
    position: absolute;
    height: 24px;
    top: -9px;
    left: 25%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
}
.response img {
    width: 40px;
    border-radius: 15px;
}
/*i.fas.fa-chevron-left {
    color: white;
}*/
i.fas {
    color: white;
}
.msg {
    width: 65%;
    font-size: 10px;
    padding: 5px;
    background-color: hsl(270deg, 20% , 90%);
    color: hsl(276, 55%, 52%);
    border-radius: 15px;
    margin: 8px;
   /* border: 1px solid white;*/
}
.responseSection {
    width: 68%;
    align-self: flex-end;
    margin-right: 5px;
    margin-top: 10px;
}
.responseText {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
    border-radius: 15px 15px 5px 15px;
}

.quorte {
    display: flex;
    justify-content: space-around;
    color: white;    
}
.msgSection2 {
    background: linear-gradient(to right ,  hsl(293, 100%, 63%), hsl(264, 100%, 61%));  
}
strong {
    margin-left: 15px;
}
input[type="text"] {
    width: 95%;
    margin: 10px auto;
    display: block;
    padding: 13px;
    border-radius: 20px;
    border: 1px solid transparent;
}
.rightArrow {
    position: absolute;
    width: 34px;
    height: 34px;
    background: hsl(271, 36%, 24%);
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    color: white;
    top: 15px;
    left: 85%;
}
.fa-chevron-right {
    color: white;
}
.newMsg {
    position: relative;
}
.contentWrapper {
    width: 62%;
    margin: auto;
}
main p {
  font-size: 10px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.8;
}

@media screen and (min-width: 680px){
    .wrapper {
        display: flex;
        width: 100%;
        margin: auto;
        align-items: center;
    }
    header {
        width: 40%;
    }
    main{
        width: 60%;
    }
   
    .cellphone {       
        margin: 92px 0 10px auto;       
    }
    header::before {
        width: 65%;
        height: 100%;
        border-radius: 0 0 280px 150px;
    }
    main p, h1 {
        text-align: left;
    }
    .contentWrapper {
        margin-left: 30px;
        text-align: left;
    }
}

@media only screen and (min-width: 1450px) {
    body {
        margin: 0 auto;
        width: 90%;
        max-width: 1440px;
    }
} 